body
{
	background: lightpink;
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


	#player1_name , #player2_name
	{
	display: inline-block;	
	
}

	#word_display
	{

		letter-spacing: 5px;

	}
	#output
	{
		background: white;
		border-radius: 10px;
		border-top: 10px  solid #aa4465;
		padding: none;
		float: none;
		text-align: left;
	}